h1 {
    font-family: Arial, serif; /* Usa Times New Roman, si no está disponible, usa una fuente serif genérica */
}

body {
    background-color: rgb(228, 243, 253);
    font-family: Arial, sans-serif; /* Usa Arial, si no está disponible, usa una fuente sans-serif genérica */
}

.encabezado {
    display: grid;
    justify-content: center;
    text-align: center;
}

.encabezado_titulo {
    padding-bottom: 100px;
    margin-top: 30px;
}

/* Contenedor del juego */
.simon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Boton para empezar a jugar */
#boton_empezar {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #4cafa7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/* Contenedor de los botones del juego */
.botones_juego {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    transform: rotate(45deg); /* Inclinación de 45 grados */
}

#boton_empezar:hover {
    background-color: #3d8a83;
}

/* Círculo central para recortar */
.centro {
    position: absolute;
    width: 90px; /* Tamaño del círculo */
    height: 90px;
    background-color: rgb(228, 243, 253); /* Mismo color del fondo */
    border-radius: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Estilos de las celdas (botones de colores) */
.celda {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
}

.rojo {
    background-color: rgb(245, 78, 78);
}

.verde {
    background-color: rgb(52, 170, 52);
}

.azul {
    background-color: rgb(73, 73, 241);
}

.amarillo {
    background-color: rgb(247, 247, 54);
}

.celda {
    width: 150px;
    height: 150px;
}

.puntuacion_titulo {
    padding-top: 150px;
    text-align: center;
}

.puntacion_tabla_puntajes {
    width: 50%; /* Ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: collapse; /* Unir bordes de las celdas */
}

.puntacion_tabla_puntajes th, .puntacion_tabla_puntajes td {
    border: none;
    padding: 9px; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
}

.puntacion_tabla_puntajes th {
    background-color: #4cafa7; /* Color de fondo para los encabezados */
}