h1 {
    font-family: Arial, serif; /* Usa Times New Roman, si no está disponible, usa una fuente serif genérica */
}

body {
    font-family: Arial, sans-serif; /* Usa Arial, si no está disponible, usa una fuente sans-serif genérica */
}

.encabezado {
    display: grid;
    justify-content: center;
    text-align: center;
}

.encabezado_titulo {
    padding-bottom: 100px;
    margin-top: 30px;
}

.encabezado_boton {
    border: none;
    border-radius: 10px;
}

.puntuacion_titulo {
    text-align: center;
}

.puntacion_tabla_puntajes {
    width: 50%; /* Ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: collapse; /* Unir bordes de las celdas */
}

.puntacion_tabla_puntajes th, .puntacion_tabla_puntajes td {
    border: none;
    padding: 9px; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
}

.puntacion_tabla_puntajes th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
}