h1 {
    font-family: Arial, serif; /* Usa Times New Roman, si no está disponible, usa una fuente serif genérica */
}

body {
    background-color: rgb(228, 243, 253);
    font-family: Arial, sans-serif; /* Usa Arial, si no está disponible, usa una fuente sans-serif genérica */
    color: rgb(102, 102, 102);
}

.encabezado {
    display: grid;
    justify-content: center;
    text-align: center;
}

.encabezado_titulo {
    padding-bottom: 100px;
    margin-top: 30px;
    font-size: 60px;
}

/* Contenedor del juego */
.simon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Botón para terminar el juego */
#boton_back {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #4cafa7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

#boton_back:hover {
    background-color: #3d8a83;
}


/* Contenedor de los botones del juego */
.botones_juego {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    transform: rotate(45deg); /* Inclinación de 45 grados */
}


/* Estilos de las celdas (botones de colores) */
.celda {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
}

.rojo {
    background-color: rgb(245, 78, 78);
}

.verde {
    background-color: rgb(52, 170, 52);
}

.azul {
    background-color: rgb(73, 73, 241);
}

.amarillo {
    background-color: rgb(247, 247, 54);
}

.celda:hover{
    opacity: 0.8; 
}

/* Sección de puntaje */
.puntaje {
    margin-top: 60px; /* Espacio debajo del rombo */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(102, 102, 102);
}